<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135488512678-ra98ohga505mii5amto21t47r30op6u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135488512678-ra98ohga505mii5amto21t47r30op6u3</string>
	<key>API_KEY</key>
	<string>AIzaSyAoeAmDJciZcNCzHsE_ka2apiqhyD84R-A</string>
	<key>GCM_SENDER_ID</key>
	<string>135488512678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-7b1e8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-7b1e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135488512678:ios:f74c3823b6addceb00ca67</string>
</dict>
</plist>